.mainmenu{
    border-bottom: 1px solid;
}

main{
    width: 100%;
}

.login{
    width: 300px;
    margin-top: 300px;
    margin-bottom: 300px;
}


.login .input{
    margin: 10px 0;
}

.login .input input{
    background: transparent;
    border: none;
    border-bottom: 1px solid;
    padding: 20px;
    width: 100%;
    font-size: 16px;
    text-align: left;
}

.pwd{
    float: right;
    opacity: 0.5;
}

.login>a:hover{
    opacity: 1.0;
    text-decoration: underline;
}

.loginbtn{
    margin-top: 10px;
    padding: 10px 50px;
    background-color: black;
    color: #fff;
}